<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <h3 class="text-center mt-2 mb-0">Welcome to display board</h2>

        <div class="card-container text-center">

            <div class="card mt-5">
                <h5 class="card-header">Student</h5>
                <div class="card-body">
                    <h5 class="card-title">Student Enrollment Details </h5>
                    <p class="card-text">Please click on view to fetch the students details.</p>
                    <a href="/studentdetails" class="btn btn-primary">View</a>
                </div>
            </div>

            <div class="card mt-5">
                <h5 class="card-header">Faculty</h5>
                <div class="card-body">
                    <h5 class="card-title">Faculty Details </h5>
                    <p class="card-text">Please click on view to fetch the Faculty details</p>
                    <a href="https://start.spring.io/" class="btn btn-primary">view</a>
                </div>
            </div>

            <div class="card mt-5">
                <h5 class="card-header">Course</h5>
                <div class="card-body">
                    <h5 class="card-title">Courses we offer you </h5>
                    <p class="card-text">Please click on view to fetch the Course details.</p>
                    <a href="https://start.spring.io/" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>

        <div class="card-container text-center">
            <div class="card mt-5 mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/image/jt.jpeg" alt="Blog Image" class="card-img-top w-100 h-100">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">CONTACT US</h5>
                            <p class="card-text ">
                                <strong class="text-primary">9437010139</strong><br>
                                <strong class="text-primary"> 8908858864</strong><br>
                                <strong>Enroll Now For New Batch</strong><br>
                                <strong><span class="text-primary">Core Java+</span><br></strong>
                                <strong><span class="text-success">Advance Java+</span><br></strong>
                                <strong><span class="text-danger">Spring Boot</span></strong>
                            </p>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



</body>

</html>